<div class="right-main">
    <div class="name">
        <span class="my-name">Nibin Bin Riyas AK</span>
        <br>
        <span class="Software">Software Engineer</span>
        <div class="underline1">

        </div>
        <div class="description">
            <p>Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take
                away.
                </p>
        </div>
    </div>
    <div class="education">
        <span class="edu-text">EDUCATION</span>
        <div class="underline2">

        </div>
        <div class="cs">
            <span class="b-tech">B.Tech - Computer Science</span>
            <br>
            <span class="college">College Of Engineering Attingal, Trivandrum</span>
            <br>
            <div class="college-tvm">
                <span class="college-date">08/2014 – 05/2018</span>
                <span class="collegetvm">Trivandrum</span>
            </div>
            <span class="college-date">B tech</span>
            <br>
            <span class="computer"><i class="far fa-square color"></i> Computer Science & Engineering</span>

        </div>
        <div class="hsc">
            <span class="b-tech">H.S.C (10+2)</span>
            <br>
            <span class="college">U H H S School,CHALIYAM</span>
            <br>
            <div class="college-tvm">
                <span class="college-date">06/2012 – 04/2014</span>
                <span class="collegetvm">Kerela</span>
            </div>
        </div>

        <div class="sslc">
            <span class="b-tech">S.S.C</span>
            <br>
            <span class="college">U H H S School,CHALIYAM</span>
            <br>
            <div class="college-tvm">
                <span class="college-date">06/2011 – 04/2012</span>
                <span class="collegetvm">Kerela</span>
            </div>
        </div>

        <div class="work">
            <span class="experience">WORK EXPERIENCE</span>
            <div class="underline2">

            </div>
        <div class="sslc">
            <span class="b-tech">Software Intern</span>
            <br>
            <span class="college">MB9 India</span>
            <br>
            <div class="college-tvm">
                <span class="college-date">08/2019 – Present</span>
                <span class="collegetvm">Bengaluru</span>
            </div>
            <span class="Internship">Internship Ongoing</span>
            <br>
            <div class="ongoing">
                <div>
                    <span class="computer"><i class="far fa-square color"></i></span>
                </div>
                <div>
                    <span>&nbsp;  Managing Angular Front-end , Managing .Net & Android related back-end as well as front-end operations as well as managing certain SQL releated queries. </span>

                </div>
            </div>
        </div>

        <div class="work">
            <span class="experience">WORKSHOPS</span>
            <div class="underline2">

            </div>
            <div class="work1">
                <span class="workshop"> Attended FOSS Young Professional Meet</span>
                <br>
                <span class="workshop"> Android Apps Development Conducted By ISTE,College of Engineering Attingal</span>
                <br>
                <span class="workshop"> Startup i3 Conducted by IEDC,College of Engineering Attingal</span>
                <br>
                <span class="workshop"> Emerging Technologies in Open Source conducted by Ipsr Solutions ltd</span>
            </div>

        </div>
        <div class="work">
            <span class="experience">CERTIFICATES</span>
            <div class="underline2">

            </div>
            <div class="work1">
                <span class="workshop2">Internet of Things - IHRD Kerala (06/2017 – 07/2017)</span>
                <br>
                <span class="workshop1">IOT - Internet Of Things</span>

            </div>
        </div>

        <div class="work">
            <span class="experience">PERSONAL PROJECTS</span>
            <div class="underline2">

            </div>
            <div class="work1">
                <span class="workshop2">APPLICATION FOR ATTENDANCE REGISTRATION (11/2017 – 05/2018)
                </span>
                <br>
                <div class="ongoing">
                    <div>
                        <span class="computer"><i class="far fa-square color"></i></span>
                    </div>
                    <div>
                        <span>&nbsp;This project deals with creation of an android based application in which attendance is registered by face detection using cloud technology and raspberry pi which will help staff to mark attendance</span>
    
                    </div>
                </div>
                <div class="projects">
                <span class="workshop2">INSIGHT SPACE -STUDENT REGISTRATION (11/2016 – 05/2017)</span>
                <br>
                <div class="ongoing1">
                    <div>
                        <span class="computer"><i class="far fa-square color"></i></span>
                    </div>
                    <div>
                        <span>&nbsp;This project deals with development of basic Web page using html PHP and MySQL in which the details of differently abled students are entered which can be viewed later by respective dignitaries.
                        </span>
    
                    </div>
                </div>
                </div>
                <div class="projects">
                    <span class="workshop2">MOBILE APPLICATION FOR TICKET MANAGEMENT SYSTEM (07/2019 - 11/2019)</span>
                    <br>
                    <div class="ongoing1">
                        <div>
                            <span class="computer"><i class="far fa-square color"></i></span>
                        </div>
                        <div>
                            <span>&nbsp;Ticket Management System for creating tickets / issues.Mobile application for Ticket Management System and includes face authentication using openCV 
                            </span>
        
                        </div>
                    </div>
                    </div>
                <div class="projects">
                    <span class="workshop2">TICKET MANAGEMENT SYSTEM (11/2019 - 02/2020)</span>
                    <br>
                    <div class="ongoing1">
                        <div>
                            <span class="computer"><i class="far fa-square color"></i></span>
                        </div>
                        <div>
                            <span>&nbsp;Ticket Management System for creating tickets / issues. Created a web application using Angular and integrated with corresponding APIs. 
                            </span>
        
                        </div>
                    </div>
                    </div>
                   
            </div>

        </div>

        <div class="work">
            <span class="experience">ACHIEVEMENTS</span>
            <div class="underline2">

            </div>

            <div class="work1">
                <span class="workshop2">Industrial Visit (07/2015 – 07/2015)</span>
                <br>
                <span class="workshop1">VSSC Conducted By IEEE Student Branch College of Engineering Attingal</span>

            </div>

            <div class="work1">
                <span class="workshop2">Leadership Certificate (08/2015 – 05/2016)</span>
                <br>
                <span class="workshop1">Sports Coordinator,College Of Engineering,Attingal</span>

            </div>
        </div>
    </div>
</div>