<div class="left-side">
    <div>
        <app-main-photo-part></app-main-photo-part>
    </div>
    <div>
        <p><i class="fas fa-envelope color"></i> <br><span class="text">nibinbinriyas@gmail.com</span></p>
        <p><i class="fas fa-mobile-alt color"></i> <br><span class="text">8943294355</span> </p>
        <p><i class="fas fa-map-marker-alt color"></i> <br><span class="text">Kadoor Castle, PO/Kadalundi, Calicut, India</span> </p>
        
    </div>
    <div class="skill">
        <span class="text">PROGRAMMING SKILLS</span>
    </div>
    <div class="underline">

    </div>
    <div class="languages">
        <p class="text">C, C++, PHP, C#,html</p>
    </div>
    <div class="database">
        <p class="text">MySQL , SQL Server , PostgreSQL</p>
    </div>
    <div class="os">
        <p class="text">MS -Windows, Windows - 7, Windows-8,Windows-10, Linux</p>
    </div>
    <div class="p-languages">
        <p class="text">HTML,PHP,.NET,.NET MVC</p>
    </div>
    <div class="angular">
        <p class="text">Angular</p>
    </div>
    <div class="communication">
        <p class="text">Commmunication, Adaptive, Dedicated, Management</p>
    </div>
    <div class="lang">
        <span>LANGUAGES</span>
    </div>
    <div class="underline">

    </div>
    <div>
        <p>
        <span class="text">English</span>
        <br>
        <span class="english text">Native or Bilingual Proficiency</span>
        </p>
        <p>
            <span class="text">Hindi</span>
            <br>
            <span class="english text">Professional Working Proficiency</span>
        </p>
        <p>
            <span class="text">Malayalam</span>
            <br>
            <span class="english text">Native or Bilingual Proficiency</span>
        </p>
        <p>
            <span class="text">Urdu</span>
            <br>
            <span class="english text">Professional Working Proficiency</span>
        </p>
        <p>
            <span class="text">Tamil</span>
            <br>
            <span class="english text">Full Professional Proficiency</span>
        </p>
    </div>
    <div class="skill">
        <span class="text">INTERESTS</span>
    </div>
    <div class="underline">

    </div>
    <div class="web">
        <p class="text">Web Development - Angular</p>
    </div>
</div>